body{
    background-color:#000;
    color: #FFF;
}
.menu {
    width: 100%;
}

.active {
    font-weight: bold;
}

li {
    list-style: none;
    padding-left: 10px;
    font-size: 1.4em;
    border: 2px solid black; 
    background-color: grey;
}

.fotos{
    border-radius: 10%;
}
.botonf {
    border: 1px solid;
    border-radius: 50px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: white;
    height: 40px;
    width: 200px;
    word-spacing: 5px;
    text-align: center;
}
.social {
    display: flex;
    flex-flow: row;
}

.botont {
    border: 1px solid;
    border-radius: 50px;
    border-color: #00ACEE;
    background-color: #00ACEE;
    color: white;
    height: 40px;
    width: 200px;
    word-spacing: 5px;
    text-align: center;
}

.botony {
    border: 1px solid;
    border-radius: 50px;
    border-color: #E62117;
    background-color: #E62117;
    color: white;
    height: 40px;
    width: 200px;
    word-spacing: 5px;
    text-align: center;
}

.botonp {
    border: 1px solid;
    border-radius: 50px;
    border-color: #BD081C;
    background-color: #BD081C;
    color: white;
    height: 40px;
    width: 200px;
    word-spacing: 5px;
    text-align: center;

}

.botoni {
    border: 1px solid;
    border-radius: 50px;
    border-color: #DD2A7B;
    background-color: #DD2A7B;
    color: white;
    height: 40px;
    width: 200px;
    word-spacing: 5px;
    text-align: center;
}

.up {
    border: 1px solid;
    border-radius: 100px;
    border-color: #FFF;
    background-color: #FFF;
    color: #000;
    height: auto;
    width: auto;
    padding: 5px 15px;
    font-size: 1.4em;
}

.pie {
    background-color: rgb(49, 47, 47);
    color: #FFF
}


/* Tamaño Extra-chico */
@media (max-width: 575.98px) {
    .botonf {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 5% 15%;
        font-size: 1.5em;
    }

    .botont {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 5% 13%;
        font-size: 1.5em;
    }

    .botoni {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 5% 13%;
        font-size: 1.5em;
    }

    .botony {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 8% 13%;
        font-size: 1.5em;
        margin-right: 40px;
    }

    .botonp {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 8% 19%;
        font-size: 1.5em;
        margin-left: 40px;
    }

    .fb {
        display: none;
    }

    .tw {
        display: none;
    }

    .ig {
        display: none;
    }

    .yt {
        display: none;
    }

    .pr {
        display: none;
    }

}

/* tamaño sm */
@media (min-width: 576px) and (max-width: 767.98px) {

    .botonf {
        border: 1px solid;
        border-radius: 100px;
        border-color: #3b5998;
        background-color: #3b5998;
        color: white;
        height: 60px;
        width: 40%;
        font-size: 1.7em;
    }

    .botony {
        border: 1px solid;
        border-radius: 100px;
        border-color: #E62117;
        background-color: #E62117;
        color: white;
        height: 60px;
        width: 60%;
        font-size: 1.7em;
        margin-right: 20%;
    }
    
    .botonp {
        border: 1px solid;
        border-radius: 100px;
        border-color: #BD081C;
        background-color: #BD081C;
        color: white;
        height: 60px;
        width: 60%;
        font-size: 1.7em;
        margin-left: 20%;
    }
    
    .botont {
        border: 1px solid;
        border-radius: 100px;
        border-color: #00ACEE;
        background-color: #00ACEE;
        color: white;
        height: 60px;
        width: 40%;
        font-size: 1.7em;
    }

    .botoni {
        border: 1px solid;
        border-radius: 100px;
        border-color: #DD2A7B;
        background-color: #DD2A7B;
        color: white;
        height: 60px;
        width: 40%;
        font-size: 1.7em;
    }

    .fb {
        display: none;
    }

    .tw {
        display: none;
    }

    .ig {
        display: none;
    }

    .yt {
        display: none;
    }

    .pr {
        display: none;
    }

}

/* Tamaño md */
@media (min-width: 768px) and (max-width: 991.98px) {


}